<footer>
  <p class='twitter-logo'>
    <%= link_to(image_tag('twitter-hover.png', alt: 'share with twitter', title: 'Share with Twitter'), 'https://twitter.com/intent/tweet?text=Speed%20Mathematics%20-%20Practise%20exercises%20from%20Speed%20Mathematics%20by%20Bill%20Handley&via=tomkadwill&url=http://speedmathematics.heroku.com', class: 'twitter-image') %>
  </p>
  <p>
    <%= link_to '@tomkadwill', 'https://twitter.com/tomkadwill' %>
  </p>
</footer>