<footer>
  <p class='twitter-logo'>
    <%= link_to(image_tag('twitter-hover.png', alt: 'share with twitter', title: 'Share with Twitter'), '/', class: 'twitter-image') %>
  </p>
  <p>
    <%= link_to '@tomkadwill', 'https://twitter.com/tomkadwill' %>
  </p>
</footer>