/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$font-family: "FuturaPTDemi-Reg","Trebuchet MS",Helvetica,Arial,sans-serif;

h1 {
    text-align: center;
    padding-bottom: 30px;
    /*color: #D17DE8*/
    color: #666;
    font-family: $font-family;
    font-size: 38px;
}

p { font-family: $font-family; }

body {
    background-color: #2D2D2D;
    text-align: center;
    font-family: $font-family;


    a { text-decoration: none; color: #777; }

    #content, #contentAnswer {
        font-size: 70px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-family: “Trebuchet MS”, Verdana, Arial, Helvetica, sans-serif;

        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        span#question {
            background-color: #7FCAE8;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 6px;
            border-width: 0px 0px 3px;
            border-style: none none solid;
            border-color: -moz-use-text-color -moz-use-text-color #54A8C9;
            cursor: pointer;
        }

        span#answer {
            background-color: #7DE89B;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 10px;
            border-width: 0px 0px 3px;
            border-style: none none solid;
            border-color: -moz-use-text-color -moz-use-text-color #34C05B;
            cursor: pointer;
        }
    }

    #explanation {
        color: #666;
        padding-bottom: 40px;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
        
        a:hover { color: #999; }
    }

    footer { 
        color: #666;
        font-family: $font-family;

        p.twitter-logo {
            opacity: 0.3;
        }

        p.twitter-logo:hover {
            opacity: 0.7;
            color: #33ccff;
        }

        a:hover { color: #999; }
    }

}


/* tidy this up */
/* CSS for drop down menu */


label.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        display: inline-block;
        border: 2px solid #777;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #f8f8f8;
        
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .custom-select select {
            padding-right:30px;    
        }
    }
    
    /* Since we removed the default focus styles, we have to add our own */
    .custom-select select:focus {
        -webkit-box-shadow: 0 0 3px 1px #c00;
        -moz-box-shadow: 0 0 3px 1px #c00;
        box-shadow: 0 0 3px 1px #c00;
    }
    
    /* Select arrow styling */
    .custom-select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #777;
        color: white;
        
        pointer-events:none;
        
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }